<!-- inny_szablon.html -->
{% extends 'main.html' %}

{% block content %}
    <h2>PUZZLE CHESS FEN!</h2>
    <p>Bóg graczem rządzi, ten figurę trzyma. Jak bóg spoza Boga spisek rozpoczyna?</p>
<div id="board1" style="width: 400px"></div>
<! - w tym mniejscu powina być szachownica generowana w js ! –>
    <div>
        <form method="GET">
            {% csrf_token %}
            <label for="input-chess-fen">FEN:</label>
            <input type="text" id="input-chess-fen" name="chess-fen" placeholder="Wpisz FEN" pattern="^([rnbqkpRNBQKP1-8]+\/){7}[rnbqkpRNBQKP1-8]+ [wb] (-|[KQkq]+) (-|[a-h][36]) \d+ \d+$" required>
            <! –  html sprawdza czy poprawnie wpisałeś fen  –>
            <button id="send-fen-btn" class="btn">Wyślij FEN</button>
        </form>
    </div>
 {% if fen %}
    <!-- Jeśli istnieje obiekt Fen w bazie danych -->
    <p>Twój FEN: {{ fen.fen }}</p>
    {% else %}
    <!-- Jeśli nie ma obiektu Fen w bazie danych -->
    <p>Nie znaleziono FEN w bazie danych.</p>
    {% endif %}

{% endblock %}